/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layer Definitions
#define QWRTY 0     // Qwerty
#define CLMK 1      // Colemak
#define DVRK 2      // Dvorkak
#define LOWER 3
#define RAISE 4
#define ADJUST 5

// Abbreviations
#define BRID F14
#define BRIU F15
#define DESK LC(UP)
#define MUTE C_MUTE
#define CVOLD C_VOLUME_DOWN
#define CVOLU C_VOLUME_UP
#define BT0 BT_SEL 0
#define BT1 BT_SEL 1
#define BT2 BT_SEL 2
#define BT3 BT_SEL 3
#define BT4 BT_SEL 4
#define SCRNF LS(LG(N3))        // MacOS Full Screenshot
#define SCRNP LS(LG(N4))        // MacOS Partial Screenshot
#define SCRNFC LC(LS(LG(N3)))   // MacOS Full Screenshot to Clipboard
#define SCRNPC LC(LS(LG(N4)))   // MacOS Partial Screenshot to Clipboard

/ {
    behaviors {
        td_meh: tap_dance_meh_hype {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MEH_HYPE";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LC(LS(LALT))>, <&kp LC(LS(LA(LGUI)))>;
        };

        td_shft: tap_dance_shift_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SHIFT_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        // ╭----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------╮
        // | TAB      |  Q       |  W       |  E       |  R       |  T       |  Y       |  U       |  I       |  O       |  P       | BSPC_DEL |
             &kp TAB     &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P    &bspc_del  
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | ESC      |  A       |  S       |  D       |  F       |  G       |  H       |  J       |  K       |  L       |  ;       |  '       |
             &kp ESC     &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L     &kp SEMI   &kp SQT   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | SHIFT    |  Z       |  X       |  C       |  V       |  B       |  N       |  M       |  ,       |  .       |  /       | ENTER    |
            &td_shft     &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M    &kp COMMA   &kp DOT    &kp FSLH   &kp RET   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | MEH+     | CTRL     | ALT      | GUI      | LOWER    | SPACE    | SPACE    | RAISE    | LEFT     | DOWN     | UP       | RIGHT    |
             &td_meh   &kp LCTRL   &kp LALT   &kp LGUI  &mo LOWER  &kp SPACE  &kp SPACE  &mo RAISE   &kp LEFT   &kp DOWN    &kp UP   &kp RIGHT  
        // ╰----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------╯
            >;
        };

        colemak_layer {
            bindings = <
        // ╭----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------╮
        // | TAB      |  Q       |  W       |  F       |  P       |  G       |  J       |  L       |  U       |  Y       |  ;       | BSPC_DEL |
             &kp TAB     &kp Q      &kp W      &kp F      &kp P      &kp G      &kp J      &kp L      &kp U      &kp Y     &kp SEMI  &bspc_del  
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | ESC      |  A       |  R       |  S       |  T       |  D       |  H       |  N       |  E       |  I       |  O       |  '       |
             &kp ESC     &kp A      &kp R      &kp S      &kp T      &kp D      &kp H      &kp N      &kp E      &kp I      &kp O      &kp SQT   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | SHIFT    |  Z       |  X       |  C       |  V       |  B       |  K       |  M       |  ,       |  .       |  /       | ENTER    |
            &td_shft     &kp Z      &kp X      &kp C      &kp V      &kp B      &kp K      &kp M    &kp COMMA   &kp DOT    &kp FSLH   &kp RET   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | MEH+     | CTRL     | ALT      | GUI      | LOWER    | SPACE    | SPACE    | RAISE    | LEFT     | DOWN     | UP       | RIGHT    |
             &td_meh   &kp LCTRL   &kp LALT   &kp LGUI  &mo LOWER  &kp SPACE  &kp SPACE  &mo RAISE   &kp LEFT   &kp DOWN    &kp UP   &kp RIGHT  
        // ╰----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------╯
            >;
        };

        dvorak_layer {
            bindings = <
        // ╭----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------╮
        // | TAB      |  '       |  ,       |  .       |  P       |  Y       |  F       |  G       |  C       |  R       |  L       | BSPC_DEL |
             &kp TAB     &kp SQT  &kp COMMA    &kp DOT    &kp P      &kp G      &kp F      &kp G      &kp C      &kp R     &kp L     &bspc_del  
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | ESC      |  A       |  O       |  E       |  U       |  I       |  D       |  H       |  T       |  N       |  S       |  /       |
             &kp ESC     &kp A      &kp O      &kp E     &kp U      &kp I      &kp D      &kp H      &kp T      &kp N      &kp S      &kp FSLH  
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | SHIFT    |  ;       |  Q       |  J       |  K       |  X       |  B       |  M       |  W       |  V       |  Z       | ENTER    |
            &td_shft    &kp SEMI    &kp Q      &kp J      &kp K      &kp X      &kp B      &kp M      &kp W      &kp V      &kp Z     &kp RET   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | MEH+     | CTRL     | ALT      | GUI      | LOWER    | SPACE    | SPACE    | RAISE    | LEFT     | DOWN     | UP       | RIGHT    |
             &td_meh   &kp LCTRL   &kp LALT   &kp LGUI  &mo LOWER  &kp SPACE  &kp SPACE  &mo RAISE   &kp LEFT   &kp DOWN    &kp UP   &kp RIGHT  
        // ╰----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------╯
            >;
        };

        lower_layer {
            bindings = <
        // ╭----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------╮
        // |  ~       |  !       |  @       |  #       |  $       |  %       |  ^       |  &       |  *       |  (       |  )       | TRANS    |
            &kp TILDE   &kp EXCL    &kp AT    &kp HASH   &kp DLLR  &kp PRCNT  &kp CARET   &kp AMPS  &kp ASTRK   &kp LPAR   &kp RPAR    &trans   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | DEL      | F1       | F2       | F3       | F4       | F5       | F6       |  _       |  +       |  {       |  }       |  |       |
             &kp DEL     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6   &kp UNDER   &kp PLUS   &kp LBRC   &kp RBRC   &kp PIPE  
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | TRANS    | F7       | F8       | F9       | F10      | F11      | F12      | NONE     | NONE     | NONE     | NONE     | TRANS    |
              &trans     &kp F7     &kp F8     &kp F9    &kp F10    &kp F11    &kp F12     &none      &none      &none      &none      &trans   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | HOME     | PG DN    | PG UP    | END      |
              &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans    &kp HOME  &kp PG_DN  &kp PG_UP   &kp END   
        // ╰----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------╯
            >;
        };

        raise_layer {
            bindings = <
        // ╭----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------╮
        // |  `       |  1       |  2       |  3       |  4       |  5       |  6       |  7       |  8       |  9       |  0       | TRANS    |
            &kp GRAVE    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &trans   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | DEL      | BRI_UP   | BRI_DN   | APPS     | MUTE     | VOL_DN   | VOL_UP   |  -       |  =       |  [       |  ]       |  \       |
             &kp DEL    &kp BRID   &kp BRIU   &kp DESK   &kp MUTE  &kp CVOLD  &kp CVOLU  &kp MINUS  &kp EQUAL   &kp LBKT   &kp RBKT   &kp BSLH  
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | TRANS    | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | TRANS    | TRANS    | TRANS    | TRANS    |
              &trans     &none      &none      &none      &none      &none      &none      &none      &trans     &trans     &trans     &trans   
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | TRANS    | NEXT     | VOL_DN   | VOL_UP   | PLAY     |
              &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans   &kp C_NEXT &kp CVOLD  &kp CVOLU  &kp C_PLAY_PAUSE 
        // ╰----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------╯
            >;
        };

        adjust_layer {
            bindings = <
        // ╭----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------┬----------╮
        // | BT_CLR   | BT 1     | BT 2     | BT 3     | BT 4     | BT 5     | NONE     | NONE     | SCRNF    | SCRNP    | SCRNFC   | SCRNPC   |
            &bt BT_CLR  &bt BT0    &bt BT1    &bt BT2    &bt BT3    &bt BT4     &none      &none    &kp SCRNF  &kp SCRNP  &kp SCRNFC &kp SCRNPC 
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | QWRTY    | CLMK     | DVRK     | NONE     | NONE     |
              &none      &none      &none      &none      &none      &none      &none    &to QWRTY   &to CLMK   &to DVRK   &none      &none
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     | NONE     |
              &reset     &none      &none      &none      &none      &none      &none      &none      &none      &none      &none      &none
        // ├----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┼----------┤
        // | NONE     | NONE     | NONE     | NONE     | TRANS    | NONE     | NONE     | TRANS    | NONE     | NONE     | NONE     | NONE     |
            &bootloader  &none      &none      &none      &trans     &none      &none      &trans     &none      &none      &none      &none
        // ╰----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------┴----------╯
            >;
        };
    };
};
